<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Priest Live Tracking Max Update Interval (minutes)</key>
	<integer>1</integer>
	<key>Priest Max Distance from Last Update (meters)</key>
	<integer>50</integer>
	<key>User Spots Refresh Rate (seconds)</key>
	<integer>17</integer>
	<key>User Spots Max Radius (km)</key>
	<integer>600</integer>
	<key>Show Only Active Spots on the Map</key>
	<false/>
	<key>Notifications Refresh Rate (seconds)</key>
	<integer>15</integer>
	<key>Fake Notifications to/from Priest Bots</key>
	<true/>
	<key>Fake Notifications to/from Penitent Bots</key>
	<false/>
	<key>Fake Notifications Mean Spawn Rate (seconds)</key>
	<integer>35</integer>
	<key>Simple Chat Bot Enabled</key>
	<false/>
</dict>
</plist>
